<%include ./includes/header.ejs %>
<div class="detail-wrap">
    <div class="title-wrap">
        <h3 class="post-title">제목제목제목</h3>
        <div class="post-name-wrap">
            <span class="post-info">by 김시훈</span>
            <span> | </span>
            <span class="post-info">2019.02.01</span>
        </div>
    </div>
    <div class="post-content-wrap">
        <div class="post-content">aaaaaaaaaa</div>
    </div>
    <div class="post-btn-wrap">
        <button type="button" class="btn btn-primary">목록보기</button>
        <button type="button" class="btn btn-info">수정하기</button>
        <button type="button" class="btn btn-danger">삭제하기</button>
    </div>
</div>
<%include ./includes/footer.ejs %>