<%include ./includes/header.ejs %>
<div id="post-container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th width="70%" scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="write-btn-wrap">
    <a href="/notes"><button type="button" class="btn btn-primary">글쓰기</button></a>
</div>
<%include ./includes/footer.ejs %>